<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>
<body class="pt-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand rounded bg-success  disabled" th:href="@{home}"><p class="ml-3 mr-3 mt-1 mb-1 text-light">
        PayMyBuddy</p></a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler "
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-text mr-auto">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{transfer}">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{logout}">Log off</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row justify-content-center jumbotron alert-success">
    <h1>Welcome to Pay My Buddy !</h1>
</div>
<div class="container">
    <div class="row">
        <div class="form-group row">
            <div class="col-sm">
                <h2>Hello <span th:text="${firstname}"></span> ! </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group row">
            <div class="col-sm">
                <h3 class="jumbotron bg-light rounded">Your balance : <span th:text="${balance}"></span> €</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>