<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>
<body class="pt-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand rounded bg-success  disabled" th:href="@{home}"><p class="ml-3 mr-3 mt-1 mb-1 text-light">
        PayMyBuddy</p></a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler "
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-text mr-auto">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{home}">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{transfer}">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{profile}">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{logout}">Log off</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mb-3 col-12 justify-content-center ">
    <div class="jumbotron alert-success text-center">
        <h1>Profile page</h1>
    </div>
</div>
<form class="container-fluid mb-3 row justify-content-center">
    <h3 class="row col-lg-9 mb-3">Your informations</h3>
    <div class="row col-lg-10 bg-light rounded jumbotron">
        <div class="col text-center">
            <div>
                <label>
                    <h5 class="">Firstname : <span th:text="${user.getFirstname()}"></span></h5>
                </label>
            </div>
        </div>
        <div class="col text-center">
            <div>
                <label>
                    <h5 class="">Lastname : <span th:text="${user.getLastname()}"></span></h5>
                </label>
            </div>
        </div>
        <div class="col text-center">
            <div>
                <label>
                    <h5 class="">Email : <span th:text="${user.getEmail()}"></span></h5>
                </label>
            </div>
        </div>
    </div>
</form>
<form class="container-fluid mb-3 row justify-content-center" method="post" th:action="@{/transferToBank}"
      th:if="${bankAccount!=null}">
    <h3 class="row col-lg-9 mb-3">Bank transfer</h3>
    <div class="row col-lg-10 bg-light rounded jumbotron" th:if="${bankAccount!=null}">
        <div class="col text-center">
            <div>
                <label>
                    <h5 class="">Your balance : <span th:text="${wallet.getBalance()}"></span> €</h5>
                </label>
            </div>
        </div>
        <div class="col text-center">
            <div th:if="${bankAccount!=null}">
                <label><h5>Your bank-account : </h5>
                    <label class="row ">BIC : <p th:text="${bankAccount.getBic()}"></p></label>
                    <label class="row">IBAN : <p th:text="${bankAccount.getIban()}"></p></label>
                </label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label><h5>Amount to transfer : </h5>
                    <i class="fas fa-dollar-sign trailing"></i>
                    <input class="form-control form-icon-trailing" placeholder="0€" th:href="@{/transferToBank}"
                           name="amount" type="number"/>
                </label>
            </div>
        </div>
        <div class="col">
            <label for="submit"></label>
            <button class="btn-group-lg btn btn-block btn-success " id="submitTransfer" th:type="submit">Transfer
            </button>
        </div>
    </div>
</form>
<div class="container-fluid row justify-content-center ">
    <div class="row col-sm-10 justify-content-center" th:if="${bankAccount!=null}">
        <form method="post" th:action="@{/deleteBankAccount} ">
            <button class="btn-group-lg btn btn-block btn-danger " id="submitDeleteBankAccount"
                    th:href="@{/deleteBankAccount}">Delete BankAccount
            </button>
        </form>
    </div>
</div>
<div th:if="${bankAccount==null}">
    <form method="post" th:action="@{/addBankAccount}" th:object="${bankAccount}"
          class="container-fluid mb-3 row justify-content-center">
        <h3 class="row col-lg-9 mb-3 ">Add Bank Account</h3>
        <div class="row col-lg-10 justify-content-center bg-light rounded jumbotron">
            <div class="col-3 text-center">
                <div class="form-outline">
                    <label class="form-label" for="formBIC">BIC</label>
                    <input class="form-control" id="formBIC" type="text" name="bic"/>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="form-outline">
                    <label class="form-label" for="formIBAN">IBAN</label>
                    <input class="form-control" id="formIBAN" type="text" name="iban"/>
                </div>
            </div>
            <div class="col-3">
                <label for="submitAdd"></label>
                <button class="mt-4 btn-group-lg btn btn-block btn-success" type="submit" id="submitAdd"
                        th:href="@{/addBankAccount}">ADD
                </button>
            </div>
        </div>
    </form>
</div>
<form class="container-fluid mb-3 row justify-content-center" method="post" th:action="@{/supplyBalance}">
    <h3 class="row col-lg-9 mb-3">Supply your balance</h3>

    <div class="row col-lg-10 bg-light rounded jumbotron">
        <div class="col text-center">
            <div>
                <label>
                    <h5 class="">Your balance : <span th:text="${wallet.getBalance()}"></span> €</h5>
                </label>
            </div>
        </div>
        <div class="col text-center">
            <div class="row mb-0 col-15">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label " for="formNameOnCard">Name on card</label>
                        <input class="form-control" id="formNameOnCard" type="text" name="cardName"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="formCardNumber">Card number</label>
                        <input class="form-control" id="formCardNumber" type="text" name="cardNumber"/>
                    </div>
                </div>
            </div>
            <div class="row mb-0">
                <div class="col-6">
                    <div class="form-outline">
                        <label class="form-label" for="formExpiration">Expiration</label>
                        <input class="form-control" id="formExpiration" type="text" name="expirationDate"/>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-outline">
                        <label class="form-label" for="formCVV">CVV</label>
                        <input class="form-control" id="formCVV" type="text" name="CVV"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-outline col">
                <label><h5>Amount to supply : </h5>
                    <i class="fas fa-dollar-sign trailing"></i>
                    <input class="form-control form-icon-trailing col-10" placeholder="€" name="amount" type="number"/>
                </label>
            </div>
        </div>
        <div class="col-3">
            <label for="submit"></label>
            <button class="btn-group-lg btn btn-block btn-success mt-4 " id="submit" th:href="@{/supplyBalance}">
                TRANSFER
            </button>
        </div>
    </div>
</form>
<form method="post" class="container-fluid mb-3 row justify-content-center" th:action="@{/updateProfile}">
    <h3 class="row col-lg-9 mb-3 ">Update your profile</h3>
    <div class="row col-lg-10 bg-light rounded jumbotron">
        <div class="col">
            <label for="firstname">Firstname</label>
            <input class="form-control" id="firstname" th:placeholder="${user.getFirstname()}" name="firstname"
                   type="firstname">
        </div>
        <div class="col">
            <label for="lastname">Lastname</label>
            <input class="form-control" id="lastname" th:placeholder="${user.getLastname()}" name="lastname"
                   type="lastname">
        </div>
        <div th:if="${bankAccount!=null}">
            <div class="col">
                <label for="bic">BIC</label>
                <input class="form-control" id="bic" th:placeholder="${bankAccount.getBic()}" name="bic" type="bic">
            </div>
            <div class="col">
                <label for="iban">IBAN</label>
                <input class="form-control" id="iban" th:placeholder="${bankAccount.getIban()}" name="iban" type="iban">
            </div>
        </div>
        <div>
            <div class="col">
                <label for="mdp">password</label>
                <input class="form-control" id="mdp" placeholder="************" name="mdp">
            </div>
            <div class="col">
                <label for="iban">password controle</label>
                <input class="form-control" id="mdp_control" placeholder="************" name="mdp">
            </div>
        </div>
        <div class="col mt-4">
            <label for="button"></label>
            <button class="btn-group-lg btn btn-block btn-success " id="button" type="submit"
                    th:action="@{/updateProfile}">Update
            </button>
        </div>
    </div>
</form>
<form method="post" class="container-fluid mb-3 row justify-content-center" th:action="@{/deleteUser}">
    <h3 class="row col-lg-9 mb-3 ">Delete your profile</h3>
    <div class="row col-lg-10 bg-light rounded jumbotron justify-content-center">
        <button class="btn-group-sm btn btn-danger " type="submit" th:action="@{/deleteUser}">Delete profile</button>
    </div>
</form>
</body>
</html>
