<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
</head>
<body class="pt-0">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand rounded bg-success  disabled" th:href="@{home}"><p class="ml-3 mr-3 mt-1 mb-1 text-light">
        PayMyBuddy</p></a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler "
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-text mr-auto">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{transfer}">Transfer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{contact}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{logout}">Log off</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid mb-3 col-12 justify-content-center ">
    <div class="jumbotron alert-success text-center">
        <h1>Transfer page</h1>
    </div>
</div>
<form class="row col-lg-10 justify-content-end " method="get" th:action="@{/contact}">
    <button class="btn btn-primary" th:href="@{/contact}">+ Add Connexion</button>
</form>
<form class="container-fluid mb-3 row justify-content-center" method="POST" th:action="@{/addTransfer}">
    <h3 class="row col-lg-9">Send Monney</h3>
    <div class="row col-lg-10 bg-light rounded jumbotron" th:if="${contacts!=null and !contacts.empty}">
        <div class="col">
            <select aria-label="" class="custom-select col-12" name="emailContact">
                <option selected>Select your contact here</option>
                <option th:each="contact:${contacts}"
                        th:text="${contact.getFirstname()+ ' '+ contact.getLastname()}"
                        th:value="${contact.getEmail()}">
                </option>
            </select>
            <span class="col col-12" th:unless="${contacts!=null and !contacts.empty}">
                <p class="text-center alert-danger">*please choose contact</p>
            </span>
        </div>
        <div class="col">
            <textarea class="form-control" id="description" name="description" rows="2">Description here...</textarea>
        </div>
        <div class="col">
            <div class="form-outline">
                <i class="fas fa-dollar-sign trailing"></i>
                <input class="form-control form-icon-trailing" name="amount" placeholder="0€" type="number"/>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-block btn-success " th:href="@{/addTransfer}" type="submit">Pay</button>
        </div>
    </div>
</form>
<p class="text-danger" th:text="${badAmount}"></p>
<div class="container  col col-lg-10">
    <h3>My transactions</h3>
    <div th:if="${transactions!=null and !transactions.empty}">
        <table class="table table-striped table-hover">
            <tr class="table-success">
                <th>Date</th>
                <th>Debtor</th>
                <th>Creditor</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            <tr th:each="transaction:${transactions}">
                <th th:text="${transaction.getDate()}"></th>
                <th th:text="${transaction.getNameCreditor()}"></th>
                <th th:text="${transaction.getNameDebtor()}"></th>
                <th th:text="${transaction.getDescription()}"></th>
                <th th:text="${transaction.getAmount()}+'€'"></th>
            </tr>
        </table>
    </div>
    <div th:unless="${transactions!=null and !transactions.empty}">
        <p>No transactions done</p>
    </div>
</div>
</body>
</html>
